<div class="wrapper">
    <!-- <app-preloader></app-preloader> -->
    <!-- <app-header></app-header> -->
    <app-navl></app-navl>
    <div class="content-wrapper">
        <!-- <app-sidebar></app-sidebar> -->
        <section class="content">
            <div class="container-fluid">
                <!-- --------------------- -->
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="text" id="email" placeholder="email" class="form-control">
                        <input type="password" id="clave" placeholder="Contraseña" class="form-control">
                        <button id="boton" class="btn btn-primary">Entrar</button>
                    </div>
                    <div class="col-lg-4">
                        <a [routerLink]="['/grafica1']" >
                            <i> ENLACE PRUEBA</i>
                          </a>
                    </div>
                </div>

                <!-- ---------------------- -->
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>



 
