<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Gráfica 2</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
          <!-- ------------------------------ -->
<div class="row">
    <div class="col-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nisi veritatis. At quasi nulla fuga doloremque repudiandae ducimus obcaecati eveniet laboriosam architecto totam. Obcaecati, alias. Numquam omnis excepturi nobis dolor?Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint sequi minus, beatae eligendi fuga quas ipsam quos pariatur blanditiis, officia quidem vero tenetur illo consequuntur voluptatibus debitis excepturi mollitia.</p>
    </div>
    <div class="col-6">
        <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
        </canvas>
    </div>
    
</div>
